@import "../../index.scss";


.auth {
    margin-top: 80px;
    text-align: center;
}

.login form, .register form {
    margin: 0 auto;
    height: 330px;
    min-width: 290px;
    max-width: 400px;
    border: 0px;
    padding: 20px;
}

.auth label, .auth a {
    color: $light-color;
}

.auth a:hover {
    color: $color-hover;
}

.light {
    .auth a:hover {
        color: $color;
    }
}

.loading-btn {
    margin-top: 40px;
    height: 50px;
}

.login-btn, .reg-btn {
    min-width: 200px;
}

.light {
    .login-btn, .reg-btn {
        color: $table-hover;
    }
}

.auth .form-input {
    height: 55px;
}

.auth .error-msg {
    margin-bottom: 50px;
    height: 10px;
}

.auth input {
    margin: 0px !important;
    font-size: 17.5;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    padding-left: 7px;
    width: 350px !important;
}

.auth input > div {
    text-align: center;
}

.dark {
    .auth input {
        background-color: $background-color;
        color: $color;
    }
}

.light {
    .auth input {
        background-color: white;
        color: $light-color;
    }
}

.invalid-feedback {
    padding-left: 11px;
    text-align: left;
}

.registered-card {
    max-width: 900px;
    height: 300px;
    margin: 0 auto;
    a {
        color: $color;
        text-decoration: underline;
    }
}

.card {
    border: none  !important;
}

.registered-mail {
    color: $light-color;
}

.light .registered-body {
    p {
        color: $dark-color;
    }
}

.dark {
    .registered-mail {
        color: $color;  
    }
    .registered-header {
        background-color: $secondary-color-table;
    }
    .registered-body {
        background-color: $table-hover;
    }
}

@media screen and (max-width: 500px) {
    .auth input {
        width: 280px !important;
    } 
    .invalid-feedback {
        padding-left: 0px;
        text-align: center;
    }
}

@media screen and (max-width: 374px) {
    .auth input {
        width: 240px !important;
    } 
}