@import "../../index.scss";


.auth {
    text-align: center;
}

.login form, .register form {
    margin: 0 auto;
    height: 330px;
    min-width: 290px;
    max-width: 400px;
    border: 0px;
    padding: 20px;
}

.form .login-btn, .form .register-btn {
    background: $color;
    color: $background-color;
    text-align: center;
    min-width: 200px;
    min-height: 38px;
    border: none;
    border-radius: 3px;
}

.form .login-btn:hover, .form .register-btn:hover, .form .login-btn:focus, .form .register-btn:focus {
    background-color: $color-hover;
    color: $background-color;
    transform: scale(1.03);
}

.auth label, .auth a {
    color: $color;
}

.auth a:hover {
    color: $color-hover;
}

.loading-btn {
    margin-top: 40px;
    height: 50px;
}

.auth input {
    all: initial;
    * {
        all: unset;
    }
}

.auth .form-input {
    height: 55px;
}

.auth .error-msg {
    margin-bottom: 50px;
    height: 10px;
}

.auth input {
    background-color: white;
    color: $background-color;
    width: 350px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #1B315B;
    padding-left: 7px;
}

.auth input::placeholder {
    color: #1B315B !important;
}

.auth input:focus, .dark .auth input:focus {
    outline: none !important;
    color: $color !important;
    border-bottom: 2px solid $color !important;
}

.auth input:focus::placeholder, .dark .auth input:focus::placeholder {
    color: $color !important; 
}

.auth input:focus::-moz-placeholder, .dark .auth input:focus::-moz-placeholder {
    color: $color !important; 
}

.auth input:focus::-webkit-input-placeholder, .dark .auth input:focus::-webkit-input-placeholder{
    color: $color !important; 
}

.dark {
    .auth input {
        color: $color !important;
        background-color: $background-color !important;
        border-bottom: 2px solid #f8f8f8;
    }
    
    .auth input::placeholder {
        color: #f8f8f8 !important;
    }
}

.form .right {
    padding-left: 40px !important;
}

.invalid-feedback {
    padding-left: 8px;
    text-align: left;
}

.registered-card {
    max-width: 900px;
    height: 300px;
    margin: 0 auto;

    a {
        color: $color;
        text-decoration: underline;
    }
}

.registered-mail {
    color: $color;
}

.light .registered-body {
    p {
        color: #324264;
    }
}

.dark {
    .registered-header {
        background-color: #263450 !important;
    }
    .registered-body {
        background-color: #324264 !important;
    }
}

@media screen and (max-width: 500px) {
    .auth input {
        width: 300px;
    } 
    .form .login-btn, .form .register-btn {
        min-width: 160px;
    } 

    .invalid-feedback {
        text-align: center;
    }
}

@media screen and (max-width: 374px) {
    .auth input {
        width: 250px;
    } 
}