@import "../../index.scss";


.login form, .signup form {
    margin: auto;
    height: 330px;
    min-width: 290px;
    max-width: 400px;
    border: 0px;
    padding: 20px;
}

.form .login-btn, .form .signup-btn {
    background: $color;
    font-size: 25px;
    color: $background-color;
    text-align: center;
    min-width: 200px;
    max-width: 200px;
    border-radius: .3em;
}

.form .login-btn:hover, .form .signup-btn:hover, .form .login-btn:focus, .form .signup-btn:focus {
    background-color: $color-hover;
    color: $background-color;
    transform: scale(1.03);
}

.row label a {
    text-decoration: underline;
}

.row label a:hover,  .row label a:hover {
    color: $color-hover;
}

.row label, .row label a {
    color: $color;
}

::placeholder, ::-webkit-input-placeholder {
    color: $color !important;
}

.login input, .signup input {
    border: 2px solid;
    border-color: $color;
    font-size: 20px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.form .right {
    padding-left: 40px !important;
}

@media only screen and (max-width: 767px) {
    .form .right {
        display: none;
    } 
}