@import "../../index.scss";


#mainnav {
    background-color: $background-color;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    i {
        color: $color;
        font-size: 45px
    }
    i:hover {
        color: $color-hover;
    }
}

.navbar .navbar-collapse {
    flex-grow: 0;
    text-align: center;
    padding-left: 2px;
}

li:hover {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.nav-item {
    a {
        color: $color;
    }
    a:hover {
        color: $color-hover;
    }
}

.navbar-nav {
    li {
        padding-left: 20px;
    }
}

.navbar-btn {
    padding-right: 6px !important;
    padding-bottom: 2px !important;
}

.navlogo {
    padding-left: 3px;
    padding-top: 4px;
}

.sun-light {
    color: yellow !important;
}

.moon-light {
    color: slateblue !important;
}

.icons-dark {
    color: grey;
}

.toggle-container {
    margin-left: 50%;
}

.toggle-container > span {
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.toggle > span {
    padding-left: 5px;
    padding-right: 3px;
}

.toggle {
    margin-top: 10px;
    background-color: #555;
    width: 50px;
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 40px;
    cursor: pointer;
}

input[type="checkbox"].checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="checkbox"].checkbox:checked + label {
    left: 3px;
}

input[type="checkbox"].checkbox + label {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 26.5px;
    top: 2.3px;
    background-color: #00eaff;
}

@media only screen and (max-width: 767px) {

    .navlogo {
        margin-left: 0px;
    }

    li:hover {
        margin-right: 5px;
        a:hover {
            color: $color-hover;
        }
    }

    ul {
        padding-top: 10px;
    }

    .navbar-nav {

        margin-right: 0px;

        li {
            padding-left: 9px;
            padding-right: 0px;
        }
    }

    span img {
        padding-top: 2px;
    }
}

@media only screen and (max-width: 500px) { 
    .toggle-container {
        margin-left: 5%
    }
}

@media only screen and (max-width: 340px) { 
    .toggle-container {
        margin-left: 7%
    }
}