@import "../../index.scss";


.home {
    margin-top: 100px;
}

.home h1 b {
    font-size: 1.5em;
    font-style: italic;
}

.home p {
    font-style: italic;
    font-size: 1.5em;
    margin: 0 !important;
}

@media only screen and (max-width: 500px) {

    .home .logo img {
        width: 250px;
        height: 250px;
    }
    .home h1 b {
        font-size: 1em;
    } 
    .home p {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 340px) {
    .home h1 b, .home p {
        font-size: 0.9em;
    } 
}
