@import "../../index.scss";


.home {
    margin-top: 100px;
    margin-bottom: 300px;
}

.home h1 b {
    font-size: 1.5em;
    font-style: italic;
}

.home p {
    font-style: italic;
    font-size: 1.5em;
    margin: 0 !important;
}

.stocks {
    form {
        justify-content: center;
    }
}

#industry_input {
    background-color: white;
    color: $background-color;
    width: 300px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $background-color;
    padding-left: 10px;
    margin-right: 60px;
}

#industry_input::placeholder {
    color: $background-color !important;
}

#industry_input:focus, .dark #industry_input:focus {
    outline: none;
    color: $color;
    border-bottom: 2px solid $color;
}

#industry_input:focus::placeholder, .dark #industry_input:focus::placeholder {
    color: $color !important; 
}

#industry_input:focus::-moz-placeholder, .dark #industry_input:focus::-moz-placeholder {
    color: $color !important; 
}

#industry_input:focus::-webkit-input-placeholder, .dark #industry_input:focus::-webkit-input-placeholder{
    color: $color !important; 
}

.form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#industry_select {
    background-position: calc(100% - 20px) calc(100% - 10px);
    width: 260px;
    height: 40px;
}

.dark {
    #industry_input {
        color: $color;
        background-color: $background-color;
        border-bottom: 2px solid #f8f8f8;
    }
    
    #industry_input::placeholder {
        color: #f8f8f8 !important;
    }
}

@media only screen and (max-width: 767px) {
    #industry_select {
        margin-top: 20px;
    } 

    #industry_input {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 500px) {

    .home .logo img {
        width: 250px;
        height: 250px;
    }
    .home h1 b {
        font-size: 1em;
    } 
    .home p {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 340px) {
    .home h1 b, .home p {
        font-size: 0.9em;
    } 
}
