@import "../../index.scss";


.dark {

    background-color: $background-color;
    color: #f8f8ff;

    p, h1, h2, h3, h4, h5, b, span {
        color: #f8f8ff;
    }
}

.light {
    p, h1, h2, h3, h4, h5, b, span {
        color: $light-color;
    }
}

.comm-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='051825'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 12px;
    background-repeat: no-repeat;
    background-color: $btn-dark-cyan-bg;
    border: none;
    color: $btn-dark-cyan-text;
    padding-left: 10px;
}

.comm-select:hover {
    cursor: pointer;
}

.dark {
    .comm-select:hover {
        filter: brightness(140%);
    }
}

.light {
    .comm-select {
        background-color: $btn-light-cyan-bg;
        color: $btn-light-cyan-text;
        font-size: 17.5px;
    }
    .comm-select:hover {
        filter: brightness(115%);
    }
}

.comm-input {
    width: 300px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 10px;
    margin-right: 60px;
}

.dark .comm-input:focus::placeholder {
    color: $color !important; 
}

.dark .comm-input:focus::-moz-placeholder {
    color: $color !important; 
}

.dark .comm-input:focus::-webkit-input-placeholder{
    color: $color !important; 
}

.light .comm-input:focus::placeholder {
    color: $light-color !important; 
}

.light .comm-input:focus::-moz-placeholder {
    color: $light-color !important; 
}

.light .comm-input:focus::-webkit-input-placeholder{
    color: $light-color !important; 
}

.dark {
    .comm-input {
        color: $color;
        background-color: $background-color;
        border-bottom: 2px solid white;
    }

    .comm-input::placeholder {
        color: white;
    }

    .comm-input:focus, .dark .comm-input:focus {
        outline: none ;
        color: $color;
        border-bottom: 2px solid $color;
    }

    input:-webkit-autofill, input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, input:-webkit-autofill:active  {
        box-shadow: 0 0 0 30px $background-color inset;
        -webkit-box-shadow: 0 0 0 30px $background-color inset;
        -webkit-text-fill-color: $color;
        caret-color: $color;
    }
}

.light {
    .comm-input {
        font-size: 17.5px;
        color: $dark-color;
        background-color: white;
        border-bottom: 2.2px solid $dark-color;
    }

    .comm-input::placeholder {
        color: $dark-color;
    }

    .comm-input:focus, .dark .comm-input:focus {
        outline: none ;
        color: $light-color;
        border-bottom: 2px solid $light-color;
    }

    input:-webkit-autofill, input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, input:-webkit-autofill:active  {
        box-shadow: 0 0 0 30px white inset;
        -webkit-box-shadow: 0 0 0 30px white inset;
        -webkit-text-fill-color: $light-color;
        caret-color: $light-color;
    }
}

.comm-btn {
    text-align: center;
    min-height: 38px;
    border: none;
    border-radius: 3px;
}

.dark .comm-btn {
    background-color: $color;
    color: $secondary-color-table;
}

.light .comm-btn {
    background-color: $light-color;
    color: white;
}

.comm-btn:hover, .comm-btn:hover {
    transform: scale(1.02);
    filter: brightness(125%);
}

@media only screen and (max-width: 767px) {
    .comm-input {
        margin-right: 0px !important;
    }
}