@import "../../index.scss";


.dark {

    background-color: $background-color;
    color: #f8f8ff;

    p, h1, h2, h3, h4, h5, b, span {
        color: #f8f8ff;
    }
}

.light {
    p, h1, h2, h3, h4, h5, b, span {
        color: $color;
    }
}

.comm-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 12px;
    background-repeat: no-repeat;
    background-color: #1B315B;
    border: none;
    color: #f8f8f8;
    padding-left: 10px;
}

.comm-input {
    background-color: white;
    color: $background-color;
    width: 300px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #1B315B;
    padding-left: 10px;
    margin-right: 60px;
}

.comm-input::placeholder {
    color: #1B315B !important;
}

.comm-input:focus, .dark .comm-input:focus {
    outline: none !important;
    color: $color !important;
    border-bottom: 2px solid $color !important;
}

.comm-input:focus::placeholder, .dark .comm-input:focus::placeholder {
    color: $color !important; 
}

.comm-input:focus::-moz-placeholder, .dark .comm-input:focus::-moz-placeholder {
    color: $color !important; 
}

.comm-input:focus::-webkit-input-placeholder, .dark .comm-input:focus::-webkit-input-placeholder{
    color: $color !important; 
}

.dark {
    .comm-input {
        color: $color !important;
        background-color: $background-color !important;
        border-bottom: 2px solid #f8f8f8 !important;
    }
    
    .comm-input::placeholder {
        color: #f8f8f8 !important;
    }
}

@media only screen and (max-width: 767px) {
    .comm-input {
        margin-right: 0px !important;
    }
}