@import "../../index.scss";


.top-div-table {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 40px;
}

.main-stocks {
    .space {
        height: 300px !important;
    }
}

.comm-table {

    min-height: 1095px;

    table {
        width: 100%;
    } 

    tr:hover, tr:nth-child(even):hover {
        cursor: pointer;
    }
    td, th {
        text-align: center;
        margin: 0;
        padding: 0.5rem;
    }
    td:nth-child(2), th:nth-child(2) {
        text-align: center;
        width: 20%;
    }
    td:nth-child(3), th:nth-child(3) {
        width: 35%;
    }
    tr:last-child {
        border: 0px;
        border-bottom: 0px !important;
    }
}


.pagination {

    button {
        margin-left: 5px;
        margin-right: 5px;
        background-color: #1B315B;
        border-radius: 5px;
        border: none;
        color: #f8f8f8;
    }

    button:hover {
        background-color: $color;
    }

    .pagenumber {
        padding-top: 3px;
        margin-left: 10px;
        margin-right: 20px;
    }

    .pagination-select , .pagination-number, .pagination-buttons {
        margin-top: 15px;
    }

    select {
        background-position: calc(100% - 10px) calc(100% - 3.5px);
        width: 120px;
    }

    margin: 0 auto;
    max-width: 900px;
    justify-content: center;
    padding-bottom: 15px;
    border-top: 5px solid #1B315B;
}

.dark {

    .top-div-table {
        background-color: #1B315B;
    }

    .pagination {
        background-color: #324264;
    }

    .comm-table table {
        color: #f8f8ff;
        border-top: 2px solid #1B315B;
        border-bottom: 0px solid #051825;
        
        thead th {
            border-bottom: 2px solid #021d30;
            background-color: #1B315B;
        }

        tbody tr {
            background-color: #263450;
            border-bottom: 2px solid #051825;
        }
    
        tbody tr:hover, tbody tr:nth-child(even):hover {
            background-color: #1B315B;
        }
    
        tbody tr:nth-child(even), th {
            background-color: #324264;
        }
    }
}


.light {

    .top-div-table {
        background-color: white;
    }

    .pagination {
        background-color: #e2e2e5;
    }

    .comm-table table {
        color: #051825;
        border-top: 2px solid #9b9b9b;
        border-bottom: 0px solid #9b9b9b;

        th {
            border-bottom: 2px solid #9b9b9b;
        }
    
        tr {
            background-color: white;
            border-bottom: 0.1px solid #dfdfdf;
        }
    
        tr:hover, tr:nth-child(even):hover {
            background-color: #e2e2e5;
        }
    
        tr:nth-child(even), th {
            background-color: #f0f0f0f0;
        }
    }
}

@media only screen and (max-width: 756px) {
    .comm-table table {
        min-height: 1500px;
    }
}

@media only screen and (max-width: 456px) {
    .comm-table table {
        min-height: 1600px;
    }
}

@media only screen and (max-width: 377px) {
    .comm-table table {
        th, td {
            font-size: 14px !important;
        }
    }
}